@model ProcedimientosAlmacenados.Models.Peliculas

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Peliculas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPeliucula" class="control-label"></label>
                <input asp-for="IdPeliucula" name="id" class="form-control" value="@Model.IdPeliucula"/>
                <span asp-validation-for="IdPeliucula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" name="titulo"class="form-control" value="@Model.Titulo" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Argumento" class="control-label"></label>
                <input asp-for="Argumento" class="form-control" value="@Model.Argumento" />
                <span asp-validation-for="Argumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
